     body {
     padding: 10px;
     background: URL('https://cdn.pixabay.com/photo/2017/01/18/15/51/paper-1990111_960_720.jpg');
    }
    #dropbox-text {
     padding: 0px 0px 0px 0px;
     margin: 0px;
     text-align: center;
     color: #000000;
    }
    #limit {
     padding: 0px 0px 0px 10px;
     margin-top: -10px;
    }
    #main {
      color: #14141f;
      width: 50%;
      margin-left: 25%;
      margin-top: 2%;
      border: 1px solid e6e6ff; 
      box-shadow: 1px 2px #888888;
      background: #f0f0f5; 
    } 
    #items { 
      display: flex;
      text-align: center;
      box-shadow: 1px 1px 1px 1px #888888;
      padding: 10px;
      margin: 10px;
      background: #f7f7fa;
    }
    #cart {
     padding: 10px;
     font-weight: bold;
     font-size: 18px;
    }
    img {
      width: 100%;
      padding: 10px 0px 0px 0px;
      cursor: pointer;
    }
    .items-class {
      width:20%;
      text-align:center;
      margin: auto; 
    }
    #total {
     padding-left: 10px;
     font-weight: bold;
     font-size: 18px;
    }
    #addInfo {
      margin: 10px;
    }
    #droppable {
      height: 128px;
      width: 128px;
      background: URL('https://cdn2.iconfinder.com/data/icons/marmalade/128/128.png');
      margin: auto;
      border: 3px dashed black;
    }
    button {
     background-color: #dedee0;
     color: black;
     border: none;
     cursor: pointer;
     border-radius: 5px;
     text-align: center;
    }
    button:hover {
     background-color: black;
     color: white;
    }
    .disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    } 
  
